.catalog-item .inner{
    background-color: #ABD3E0;
    margin: 1%;
    padding: 5%;
    height: 250px;
}

.catalog-item .inner img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 120px;
}

.scaled-img {
    max-height: 300px;
    max-width: 400px;
}
