{% extends "main.html" %}
{% block content %}
    <br/>
    {% if session['credentials']: %}
    <a href="{{ url_for('modify_category', category_id=category.id) }}" class="btn btn-default">Edit Category</a>
    {% endif %}
    <br/>
    <div class="row">
    {% for item in catalog %}
        <div class="col-md-3 catalog-item">
            <div class="inner">
                <h3><a href="{{ url_for('show_catalog_item', category_name=category.name, item_id=item.id) }}">{{item.name}}</a></h3>
                {% if item.image %}
                <img style="width: 100%" src="{{item.image}}" />
                {% endif %}
                <p>{{item.description}}</p>
            </div>
        </div>
    {% endfor %}
    </div>
    {% if session['credentials']: %}
    <a href="{{ url_for('new_catalog_item', category_name=category.name) }}" class="btn btn-default">Create new</a>
    {% endif %}
{% endblock %}
