{% extends "main.html" %}
{% block content %}
    <form method="POST" action="{{ url_for('edit_catalog_item', category_name=category_name, item_id=item.id) }}" enctype="multipart/form-data">
        <label>Name: </label><input type="text" name="name" value="{{item.name}}" /><br/>
        {% if item.image %}
        <img src="{{item.image}}" alt="The current image" /><br/>
        {% endif %}
        <label>New image:</label><input type="file" name="file" /><br/>
        <br/>
        <button class="btn btn-default" type="submit">Edit</button>
        <a class="btn btn-default" href="{{ url_for('show_catalog_item', category_name=category_name, item_id=item.id) }}">Cancel</a>
    </form>
{% endblock %}
