{% extends "main.html" %}
{% block content %}
    <form method="POST" action="{{ url_for('modify_category', category_id=category.id) }}" enctype="multipart/form-data">
        <div class="form-group">
            <label>Name: </label>
            <input type="text" name="name" value="{{category.name}}" class="form-control" />
        </div>
        <br/>
        <button class="btn btn-default" type="submit">Save</button>
        {% if not category.items %}
        <a class="btn btn-default" href="{{ url_for('delete_category', category_id=category.id) }}">Delete</a>
        {% endif %}
        <a class="btn btn-default" href="{{ url_for('show_category_items', category_name=category.name) }}">Cancel</a>
    </form>
{% endblock %}
