{% extends "main.html" %}
{% block content %}
    <div>
    <h2>{{item.name}}</h2>
    {% if item.image %}
    <img src="{{item.image}}" alt="This is the picture" />
    {% endif %}
    <p>Category: {{item.category.name}}</p>
    {% if session['credentials'] and session['gplus_id'] == item.gplus_id %}
    <a class="btn btn-default" href="{{ url_for('edit_catalog_item', category_name=category_name, item_id=item.id) }}">Edit</a>
    <a class="btn btn-default" href="{{ url_for('delete_catalog_item', category_name=category_name, item_id=item.id) }}">Delete</a>
    {% endif %}
    <br/>
    <a href="{{ url_for('show_category_items', category_name=category_name) }}">Back to {{category_name}}</a>
    </div>
{% endblock %}
